
clone_folder: c:\projects\USD

branches:
    only:
        - dev_win_ip_g

platform:
    - x64

configuration:
    - 14 2015

build_script:

    # double-conversion
    - git clone https://github.com/google/double-conversion.git c:/projects/double-conversion
    - cd c:\projects\double-conversion
    - mkdir bld
    - cd bld
    - cmake -G "Visual Studio %Configuration%" ..
    - cmake --build . --config Release


    # USD
    - cd c:\projects\USD
    - mkdir build
    - dir C:/Libraries/boost_1_59_0
    - cd build
    - cmake --version
    - cmake -G "Visual Studio %Configuration%" \
            -D "PXR_BUILD_ALEMBIC_PLUGIN:bool=FALSE" \
            -D "PXR_BUILD_KATANA_PLUGIN:bool=FALSE" \
            -D "PXR_BUILD_MAYA_PLUGIN:bool=FALSE" \
            -D "BOOST_ROOT:string=c:/Libraries/boost_1_59_0" \
            -D "BOOST_LIBRARYDIR:string=c:/Libraries/boost_1_59_0/lib64-msvc-14.0" \
            -D "Boost_USE_STATIC_LIBS:INT=0" \
            -D "DOUBLE_CONVERSION_LIBRARY:string=c:/projects/double-conversion/bld/double-conversion/Release/double-conversion.lib" \
            -D "DOUBLE_CONVERSION_INCLUDE_DIR:string=c:/projects/double-conversion" \
            ..
    - cmake --build . --config Release
