
clone_folder: c:\projects\USD

branches:
    only:
        - dev_win_ip_g

platform:
    - x64

configuration:
    - 14 2015 Win64

build_script:

    # double-conversion
    - git clone https://github.com/google/double-conversion.git c:/projects/double-conversion
    - cd c:\projects\double-conversion
    - mkdir bld
    - cd bld
    - cmake -G "Visual Studio %Configuration%" \
            -DCMAKE_INSTALL_PREFIX="c:/packages/double-conversion" \
            ..
    - cmake --build . --target install --config Release
    - cd c:\packages\double-conversion
    - dir
    - cd c:\packages\double-conversion\include
    - dir
    - cd c:\packages\double-conversion\lib
    - dir
    - sdfadf

    # TBB
    - cd c:\projects
    - mkdir tbb
    - cd tbb
    - appveyor DownloadFile https://www.threadingbuildingblocks.org/sites/default/files/software_releases/windows/tbb44_20160526oss_win_0.zip -FileName tbb.zip
    - 7z x tbb.zip
    - 

    # IlmBase
    - git clone https://github.com/openexr/openexr.git c:/projects/openexr
    - cd c:\projects\openexr\IlmBase
    - mkdir build
    - cd build
    - cmake -G "Visual Studio %Configuration%" \
            -DCMAKE_INSTALL_PREFIX="c:/packages/openexr" \
            ..
    - cmake --build . --target install --config Release
    - cd c:\packages\openexr\include
    - dir


    # USD
    - cd c:\projects\USD
    - mkdir build
    - cd build
    - cmake --version
    - cmake -G "Visual Studio %Configuration%" \
            -D "PXR_BUILD_ALEMBIC_PLUGIN:bool=FALSE" \
            -D "PXR_BUILD_KATANA_PLUGIN:bool=FALSE" \
            -D "PXR_BUILD_MAYA_PLUGIN:bool=FALSE" \
            -D "PXR_BUILD_IMAGING:bool=FALSE" \
            -D "BOOST_ROOT:string=c:/Libraries/boost_1_60_0" \
            -D "BOOST_LIBRARYDIR:string=c:/Libraries/boost_1_60_0/lib64-msvc-14.0" \
            -D "Boost_USE_STATIC_LIBS:INT=0" \
            -D "DOUBLE_CONVERSION_LIBRARY:string=c:/packages/double-conversion/lib/double-conversion.lib" \
            -D "DOUBLE_CONVERSION_INCLUDE_DIR:string=c:/packages/double-conversion/include" \
            -D "TBB_LIBRARY:string=c:/projects/tbb/tbb44_20160526oss/lib/intel64/vc14/" \
            -D "TBB_LIBRARIES:string=c:/projects/tbb/tbb44_20160526oss/lib/intel64/vc14/tbb.lib" \
            -D "TBB_INCLUDE_DIRS:string=c:/projects/tbb/tbb44_20160526oss/include" \
            -D "OPENEXR_LIBRARY_DIR:string=c:/OpenEXR" \
            -D "OPENEXR_INCLUDE_DIR:string=c:/IlmBase/include" \
            -D "OPENEXR_Half_LIBRARY:string=c:/IlmBase/lib/Half.lib" \
            ..
    - cmake --build . --config Release
