trigger:
- release
- dev

jobs:
- job: Linux
  timeoutInMinutes: 120
  pool:
    vmImage: 'Ubuntu-20.04'
  steps:
  - script: |
      sudo apt-get -qq update;
      sudo pip install --upgrade pip
      sudo apt-get install python-setuptools;
      sudo apt-get install libglew-dev libxrandr-dev libxcursor-dev libxinerama-dev libxi-dev;
      sudo pip install PySide2 ;
      sudo pip install PyOpenGL ;
      sudo python3 build_scripts/build_usd.py --no-materialx --build $HOME/USDgen/build --src $HOME/USDgen/src $HOME/USDinst -v
    displayName: 'Building USD'
  - task: PublishPipelineArtifact@0
    inputs:
      artifactName: 'usd-linux'
      targetPath: "/home/vsts/USDinst"

- job: macOS
  timeoutInMinutes: 120
  pool:
    vmImage: 'macOS-12'
  steps:
  - script: |
      # Update PATH to ensure that pyside2-uic can be found
      export PATH=/Library/Frameworks/Python.framework/Versions/3.11/bin:$PATH
      sudo xcode-select -s /Applications/Xcode_13.3.app/Contents/Developer
      # Set SYSTEM_VERSION_COMPAT while installing Python packages to
      # accommodate the macOS version numbering change from 10.x to 11
      export SYSTEM_VERSION_COMPAT=1
      sudo pip3 install PySide6 ;
      sudo pip3 install PyOpenGL ;
      export -n SYSTEM_VERSION_COMPAT
      python3 build_scripts/build_usd.py --no-materialx --generator Xcode --build $HOME/USDgen/build --src $HOME/USDgen/src $HOME/USDinst -v
    displayName: 'Building USD'
  - task: PublishPipelineArtifact@0
    inputs:
      artifactName: 'usd-macOS'
      targetPath: "/Users/runner/USDinst"

- job: Windows
  timeoutInMinutes: 120
  pool:
    vmImage: 'windows-2019'
  steps:
  - script: |
      call C:\"Program Files (x86)"\"Microsoft Visual Studio"\2019\Enterprise\VC\Auxiliary\Build\vcvars64.bat
      call set PYTHONLOCATION=C:\hostedtoolcache\windows\Python\3.7.9\x64
      call set PYTHONBIN=%PYTHONLOCATION%\python.exe
      call set PATH=%PYTHONLOCATION%;%PYTHONLOCATION%\Scripts;%PATH%
      call set BOOST_ROOT=
      call %PYTHONBIN% --version
      call %PYTHONBIN% -m pip install --upgrade pip
      call %PYTHONBIN% -m pip install PySide2
      call %PYTHONBIN% -m pip install PyOpenGL
      call %PYTHONBIN% build_scripts/build_usd.py --no-materialx --build %HOME%/USDgen/build --src %HOME%/USDgen/src %HOME%/USDinst --build-args USD,"-DPXR_ENABLE_PRECOMPILED_HEADERS=OFF" -v
    displayName: 'Building USD'
  - task: PublishPipelineArtifact@0
    inputs:
      artifactName: 'usd-win64'
      targetPath: "D:/USDinst"
