:root {
    --san-serif: ui-sans-serif, -apple-system, BlinkMacSystemFont, "Lato", "proxima-nova", "Helvetica Neue", Arial, "Segoe UI", Roboto, Helvetica, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    --san-serif2: ui-sans-serif, -apple-system, BlinkMacSystemFont, "Roboto Slab", "ff-tisa-web-pro", "Georgia", Arial, "Segoe UI", Roboto, Helvetica, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    --serif: ui-serif, -apple-system-ui-serif, 'Georgia', serif;
    --monospace: ui-monospace, -apple-system-ui-serif, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", Courier, 'Andale Mono', 'Ubuntu Mono', monospace;
}

body, .rst-content {
    font-family: var(--san-serif);
}

.rst-content .toctree-wrapper>p.caption, h1, h2, h3, h4, h5, h6, legend {
    font-family: var(--serif);
}

h4 {
    font-weight: 650;
}

.bolditalic {
  font-weight: bold;
  font-style: italic;
}

.bi {
  font-weight: bold;
  font-style: italic;
}

.bu {
  font-weight: bold;
  text-decoration: underline;
}

.iu {
  font-style: italic;
  text-decoration: underline;
}

.mono, .rst-content .linenodiv pre, .rst-content div[class^=highlight] pre, .rst-content pre.literal-block {
  font-family: var(--monospace)
}

.underline {
    text-decoration: underline;
}

.icon-home:before {
    vertical-align: middle;
    content: url("https://openusd.org/images/USDLogo24.svg");
}

#usd-home > h1 {
    display: none;
}

img.usd-logo-image {
    height: 1.5em;
}

.usd-index-brief {
    padding-left: 1em;
    padding-right: 1em;
}

.usd-index-brief > p {
    margin-bottom: 1em;
}

.usd-title-image-outer {
    --title-image-width: calc;
    position: relative;
    float: left;
}

.usd-title-image-inner p {
    line-height: normal;
    color: white;
    border-radius: 4px;
    padding: 1vw;
    padding-left: 2vw;
    background-color: rgba(0, 0, 0, 0.3);
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    font-family: var(--san-serif);
    font-weight: 700;
    font-size: 3vw;
}

.usd-title-text {
    text-shadow: 0 0 0.25em black;
}

div.usd-tutorial-admonition {
    float: right;
    border-radius: 0.25em;
    border-style: solid;
    border-width: thin;
    padding: 0.1em;
    margin: 0.5em;
}

div.usd-tutorial-admonition > p {
    line-height: normal;
    font-size: 0.7em;
    margin: 0.5em;
}

.sdfpath::before {
  content: "<";
}

.sdfpath::after {
  content: ">";
}

.fourcolumn {
  -webkit-column-count: 4; /* Chrome, Safari, Opera */
  -moz-column-count: 4; /* Firefox */
  column-count: 4;
}

.threecolumn {
  -webkit-column-count: 3; /* Chrome, Safari, Opera */
  -moz-column-count: 3; /* Firefox */
  column-count: 3;
}

.twocolumn {
  -webkit-column-count: 2; /* Chrome, Safari, Opera */
  -moz-column-count: 2; /* Firefox */
  column-count: 2;
}

.wy-nav-content {
  max-width: none;
}

.wy-side-nav-search input[type=text] {
    border-color: transparent;
}

.version_warning {
  padding: .5em; 
  text-align: center;
  background-color: #FFBABA;
  color: #6A0E0E;
} 

