{% set alab_metrics_linux_24_11 = load('performance/24.11_linux_alab.yaml', data_format='yaml') %}

.. list-table:: Linux Metrics (min/max/mean in seconds)
   :header-rows: 1

   * - Metric
     - 24.11
     - 25.02
   * - Open stage
     - | min: {{ alab_metrics_linux_24_11['open_stage']['min'] }}
       | max: {{ alab_metrics_linux_24_11['open_stage']['max'] }}
       | mean: {{ alab_metrics_linux_24_11['open_stage']['mean']}}
     - TBD
   * - Render first image
     - | min: {{ alab_metrics_linux_24_11['create_first_image']['min'] }}
       | max: {{ alab_metrics_linux_24_11['create_first_image']['max'] }}
       | mean: {{ alab_metrics_linux_24_11['create_first_image']['mean']}}
     - TBD
   * - Close stage
     - | min: {{ alab_metrics_linux_24_11['close_stage']['min'] }}
       | max: {{ alab_metrics_linux_24_11['close_stage']['max'] }}
       | mean: {{ alab_metrics_linux_24_11['close_stage']['mean']}}
     - TBD
   * - Shut down Hydra
     - | min: {{ alab_metrics_linux_24_11['shut_down_hydra']['min'] }}
       | max: {{ alab_metrics_linux_24_11['shut_down_hydra']['max'] }}
       | mean: {{ alab_metrics_linux_24_11['shut_down_hydra']['mean']}}
     - TBD     

{% set alab_metrics_macos_24_11 = load('performance/24.11_macos_alab.yaml', data_format='yaml') %}

.. list-table:: macOS Metrics (min/max/mean in seconds)
   :header-rows: 1

   * - Metric
     - 24.11
     - 25.02
   * - Open stage
     - | min: {{ alab_metrics_macos_24_11['open_stage']['min'] }}
       | max: {{ alab_metrics_macos_24_11['open_stage']['max'] }}
       | mean: {{ alab_metrics_macos_24_11['open_stage']['mean']}}
     - TBD
   * - Render first image
     - | min: {{ alab_metrics_macos_24_11['create_first_image']['min'] }}
       | max: {{ alab_metrics_macos_24_11['create_first_image']['max'] }}
       | mean: {{ alab_metrics_macos_24_11['create_first_image']['mean']}}
     - TBD
   * - Close stage
     - | min: {{ alab_metrics_macos_24_11['close_stage']['min'] }}
       | max: {{ alab_metrics_macos_24_11['close_stage']['max'] }}
       | mean: {{ alab_metrics_macos_24_11['close_stage']['mean']}}
     - TBD
   * - Shut down Hydra
     - | min: {{ alab_metrics_macos_24_11['shut_down_hydra']['min'] }}
       | max: {{ alab_metrics_macos_24_11['shut_down_hydra']['max'] }}
       | mean: {{ alab_metrics_macos_24_11['shut_down_hydra']['mean']}}
     - TBD     

{% set alab_metrics_win_24_11 = load('performance/24.11_windows_alab.yaml', data_format='yaml') %}

.. list-table:: Windows Metrics (min/max/mean in seconds)
   :header-rows: 1

   * - Metric
     - 24.11
     - 25.02
   * - Open stage
     - | min: {{ alab_metrics_win_24_11['open_stage']['min'] }}
       | max: {{ alab_metrics_win_24_11['open_stage']['max'] }}
       | mean: {{ alab_metrics_win_24_11['open_stage']['mean']}}
     - TBD
   * - Render first image
     - | min: {{ alab_metrics_win_24_11['create_first_image']['min'] }}
       | max: {{ alab_metrics_win_24_11['create_first_image']['max'] }}
       | mean: {{ alab_metrics_win_24_11['create_first_image']['mean']}}
     - TBD
   * - Close stage
     - | min: {{ alab_metrics_win_24_11['close_stage']['min'] }}
       | max: {{ alab_metrics_win_24_11['close_stage']['max'] }}
       | mean: {{ alab_metrics_win_24_11['close_stage']['mean']}}
     - TBD
   * - Shut down Hydra
     - | min: {{ alab_metrics_win_24_11['shut_down_hydra']['min'] }}
       | max: {{ alab_metrics_win_24_11['shut_down_hydra']['max'] }}
       | mean: {{ alab_metrics_win_24_11['shut_down_hydra']['mean']}}
     - TBD     
